{% extends 'list.html' %} {% load static %} {% block head_list %}
<script src="{% static 'Ingreso/js/list.js' %}"></script>{% endblock head_list %} {% block columns %}
<tr style="text-align: center;">
    <th scope="col" style="width: 10%;">Id</th>
    <th scope="col" style="width: 15%;">Numero de Cliente</th>
    <th scope="col" style="width: 20%;">Numero de Cotizacion</th>
    <th scope="col" style="width: 20%;">Numero de Servicio</th>
    <th scope="col" style="width: 20%;">Servicio Prestado</th>
    <th scope="col" style="width: 20%;">Fecha de ingreso</th>
</tr>
{% endblock columns %} {% block rows %} {% endblock rows %} {% block javascript %} {% endblock %}