{% extends 'body.html' %}

{% block content %}
<form method="POST">
    <div class="card card-default p-3 m-3">
        <div class="card-header">
            <h1 class="card-title">
                {{ title }}
            </h1>
        </div>
        <div class="card-body">
            {% csrf_token %}
            <input type="hidden" name="action" value="{{ action }}">
            {% for field in form.visible_fields %}
            <div class="form-group">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <label for="email">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-flat btnTest">
                <i class="fas fa-plus"></i> Guardar registro
            </button>
        </div>
    </div>
</form>


<script>
    '{% if form.errors %}'
    var errores = '';
    '{% for field in form %}'
    '{% for error in field.errors %}'
    errores += '{{ error }}\n';
    '{% endfor %}'
    '{% endfor %}'
    Swal.fire({
        title: 'Error!',
        text: errores,
        icon: 'error',
    })
    '{% endif %}'
    $('form').on('submit', function (e) {

        e.preventDefault();
        var parameters = $(this).serializeArray();
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: parameters,
            dataType: 'json',
        }).done(function (data) {
            if (!data.hasOwnProperty('error')) {
                Swal.fire(
                    'Felicitaciones!',
                    'Se ha agregado correctamente',
                    'success'
                )
                location.href = '{{ list_url }}';
               
                return false;
            }
            message_errors(data.error);
        });
    });
</script>




{% endblock content %}