{% extends 'body.html' %} {% block content %}
<form method="POST">
    <div class="card card-default p-3 m-3">
        <div class="card-header">
            <h1 class="card-title">
                {{ title }}
            </h1>
        </div>
        <div class="card-body">
            {% csrf_token %}
            <input type="hidden" name="action" value="{{ action }}"> {% for field in form.visible_fields %}
            <div class="form-group">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <label for="email">{{ field.label }}</label> {{ field }}
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btnTest">
                <i class="fas fa-plus"></i> Guardar registro
            </button>
            <button type="button" onclick="history.back()" class="btn btn-danger">
                <i class="fas fa-times"></i> Cancelar
            </button>
        </div>
    </div>
</form>


<script>
    '{% if form.errors %}'
    var errores = '';
    '{% for field in form %}'
    '{% for error in field.errors %}'
    errores += '{{ error }}\n';
    '{% endfor %}'
    '{% endfor %}'
    Swal.fire({
        title: 'Error!',
        text: errores,
        icon: 'error',
    })
    '{% endif %}'

    function submit_with_ajax(url, title, content, parameters, callback) {
        $.confirm({
            theme: 'material',
            title: title,
            icon: 'fa fa-info',
            content: content,
            columnClass: 'small',
            typeAnimated: true,
            cancelButtonClass: 'btn-primary',
            draggable: true,
            dragWindowBorder: false,
            buttons: {
                info: {
                    text: "Si",
                    btnClass: 'btn-primary',
                    action: function() {
                        $.ajax({
                            url: url, //window.location.pathname
                            type: 'POST',
                            data: parameters,
                            dataType: 'json',
                            processData: false,
                            contentType: false,
                        }).done(function(data) {
                            console.log(data);
                            if (!data.hasOwnProperty('error')) {
                                callback();
                                return false;
                            }
                            message_errors(data.error);
                        }).fail(function(jqXHR, textStatus, errorThrown) {
                            alert(textStatus + ': ' + errorThrown);
                        }).always(function(data) {

                        });
                    }
                },
                danger: {
                    text: "No",
                    btnClass: 'btn-red',
                    action: function() {

                    }
                },
            }
        })
    }
    $('form').on('submit', function(e) {

        e.preventDefault();
        var parameters = $(this).serializeArray();
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: parameters,
            dataType: 'json',
        }).done(function(data) {
            if (!data.hasOwnProperty('error')) {
                Swal.fire({
                    title: 'Felicitaciones!',
                    text: 'Se ha agregado correctamente',
                    icon: 'success',
                    timer: 5000,
                    showConfirmButton: true,
                });
                location.href = '{{ list_url }}';
                return false;
            }
            message_errors(data.error);
        });
    });
</script>




{% endblock content %}